<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Inicio</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<h1>Menu</h1>
	<h2><a href="/cadastrarProfessor"> Cadastrar Professor</a></h2>
	<h2><a href="/buscarProfessor"> Buscar Professor</a></h2>
	<h2><a href="/cadastrarAluno">Cadastrar Aluno</a></h2>
	<h2><a href="/buscarAluno">Buscar Aluno</a></h2>
</body>
</html>