<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Cadastro Professor</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	
	<h1> Cadastro Professor</h1>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		Sexo: <input type="text" value="" name="sexo"/>
		Instrumentos: <input type="text" value="" name="instrumentos"/>
		Cpf: <input type="text" value="" name="cpf"/>
		Endereco: <input type="text" value="" name="endereco"/>
		Numero: <input type="number" value="" name="endereco"/>
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>